.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .stamp {
    width: 100%;
  }
  .color {
    width: 100%;
  }
  .col-xs-8{
    padding: 10px;
    margin: 20px 0;
  }
  table {
    width: 90%;
  }
  p{
    color: red;
  }